    
/*start t shirt design page  css*/
/*start t shirt design page  css*/
/*start t shirt design page  css*/

.bannerbg {
  width: 100%;
  height: 650px;
  /* background: url(../images/497a54c0-92ed-4d12-afe0-6fd9ae13350b.png); */
  background-size: 100% 100%;
  padding-top:120px;
}

.bhjdfdfgdfg {
  margin-top: 100px;
}

.dfngfg {
  width: 25px;
  height: 3px;
  background-color: #C35F16;
  margin-top: 10px;
  margin-left: 5px;
}

.ngg55 h6 {
  font-weight: 600;
  font-size: 18px;
  color: #2D4A8A;
}

.bhjdfdfgdfg h2 {
  font-size: 40px !important;
  font-weight: 600;
  letter-spacing: 3px;
  color: #143664;
}
.bhjdfdfgdfg p {
  font-size: 19px;
  color: #40444E;
}

.fgdfg {
  padding: 14px 25px;
  background-color: #2D4A8A;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border: 3px solid #2D4A8A;
}

.fgdfg55 {
  padding: 14px 30px;
  color: #C35F16;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border: 3px solid #C35F16;
  margin-left: 15px;
  background-color:transparent;
}

.nbdf55b {
  width: 60px;
  height: 60px;
}
.nbdf55b img {
  width: 100%;
  height: 100%;
}

.gfgbgdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfbhdfgds534 h4 {
  color: #143664;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
.dfbhdfgds534 p {
  color: #40444E;
}

.fbbhdfgdfg {
  width: 90%;
}
.fbbhdfgdfg h2 {
  color: black;
  font-weight: 600;
  font-size: 35px;
}

.gndfjgf {
  width: 100%;
  height: 550px;
}
.gndfjgf img {
  width: 100%;
  height: 100%;
}

.dfghdfgdfg h2 {
  font-size: 35px;
  font-weight: 600;
  color: black;
}
.dfghdfgdfg p {
  color: #40444E;
}

.dfghdfgdfg h2 {
  color: #143664;
  font-weight: 600;
  font-size: 35px;
}
.dfghdfgdfg p {
  color: #40444E;
  font-size: 17px;
}

.dfgbdfgdfg i {
  color: #C35F16;
  font-size: 20px;
}
.dfgbdfgdfg p {
  font-size: 17px;
  color: #40444E;
}

.dfgbdfgdfg button {
  margin-top: 20px;
}

.dfgbhgdfgdfgd {
  width: 100%;
  padding: 40px 0;
}

.dngdf {
  width: 100%;
  height: 500px;
  position: relative;
}
.dngdf img {
  width: 100%;
  height: 100%;
}

.sfbdfjhsdfgsdffg {
  width: 100%;
  padding: 40px 0;
}

.fbdjhgdf {
  width: 100%;
  height: 240px;
  position: relative;
}
.fbdjhgdf img {
  width: 100%;
  height: 100%;
}

.ndfsdf {
  width: 100%;
  height: 240px;
  position: relative;
}
.ndfsdf img {
  width: 100%;
  height: 100%;
}

.ndfsdf {
  margin-top: -35px;
}

.fdfdf {
  position: relative;
  top: -80px;
  text-align: center;
}
.fdfdf h4 {
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}
.fdfdf h6 {
  color: white;
}

.dfgbhdfgdfg {
  width: 100%;
  /* background: url(../images/dotted-line.png); */
  height: 170px;
  background-size: 100% 100%;
  margin-top: 70px;
}

.fndf55 {
  width: 100%;
  height: 350px;
  padding: 60px;
  margin: 30px;
  margin-top: -140px;
}
.fndf55 img {
  height: 100%;
  width: 100%;
}

.fndf55hh {
  width: 100%;
  height: 350px;
  padding: 60px;
  margin: 10px;
  margin-top: -70px;
}
.fndf55hh img {
  height: 100%;
  width: 100%;
}

.fgnhfg {
  width: 35px;
  height: 35px;
  background-color: #143664;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  line-height: 35px;
  text-align: center;
  margin: auto;
}

.fbdfgdfg {
  padding: 0 40px;
  text-align: center;
  margin-top: 80px;
}
.fbdfgdfg h5 {
  color: #143664;
  font-weight: 600;
  padding-top: 10px;
}
.fbdfgdfg p {
  color: #40444E;
}

.fbdfgdfg2 {
  padding: 0 40px;
  text-align: center;
}
.fbdfgdfg2 h5 {
  color: #143664;
  font-weight: 600;
  padding-top: 10px;
}
.fbdfgdfg2 p {
  color: #40444E;
}

.dfgnjdfgdf {
  width: 55%;
  margin: auto;
  text-align: center;
}
.dfgnjdfgdf h2 {
  font-size: 35px;
  font-weight: 600;
  color: #143664;
}
.dfgnjdfgdf p {
  color: #40444E;
  font-size: 17px;
}

.dfgbhgdfgdfgd55 {
  margin-top: 350px;
  margin-bottom: 40px;
}

.dfghdfgdfg h6 {
  color: #2885f6;
  font-size: 18px;
  font-weight: 600;
}

.fndfsdf h2 {
  color: #143664;
  font-size: 35px;
  font-weight: 600;
}
.fndfsdf p {
  color: #40444E;
  font-size: 17px;
}

.dfgbdfgdfg button 
{
    padding:12px 32px;
    border:none;
    background-color:#143664;
    color:white;
    margin-top:15px;
    border-radius:4px;
    font-size:17px;
    font-weight:500;
}

/*end t shirt design page  css*/
/*end t shirt design page  css*/
/*end t shirt design page  css*/