    
/*start  new on page seo  css*/
/*start  new on page seo  css*/
/*start  new on page seo  css*/


.ubnuiiuniewrr .oimihiewrwer h5 {
  color: #C35F16;
  text-transform: uppercase;
}
.ubnuiiuniewrr .ikfnmierhter > img {
  width: 100%;
  height: auto;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr {
  border: 1px solid var(--border-color-light-grey);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr img {
  width: 3rem;
  height: 100%;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr .iojnuihwqeqweqwe h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2854A1;
}

 .oimihiewrwer h2 
{
    color:#133664;
    font-weight:600;
    font-size:40px;
}




/*end  new on page seo  css*/
/*end  new on page seo  css*/
/*end  new on page seo  css*/