/*start postcard page  css*/
/*start postcard page  css*/
/*start postcard page  css*/


.bannerbg {
  width: 100%;
  height: 650px;
  /* background: url(../images/497a54c0-92ed-4d12-afe0-6fd9ae13350b.png); */
  background-size: 100% 100%;
  padding-top:120px;
}

.bhjdfdfgdfg {
  margin-top: 100px;
}

.dfngfg {
  width: 25px;
  height: 3px;
  background-color: #C35F16;
  margin-top: 10px;
  margin-left: 5px;
}

.ngg55 h6 {
  font-weight: 600;
  font-size: 18px;
  color: #2D4A8A;
}

.bhjdfdfgdfg h2 {
  font-size: 40px !important;
  font-weight: 600;
  letter-spacing: 3px;
  color: #143664;
}
.bhjdfdfgdfg p {
  font-size: 19px;
  color: #40444E;
}

.fgdfg {
  padding: 14px 25px;
  background-color: #2D4A8A;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border: 3px solid #2D4A8A;
}

.fgdfg55 {
  padding: 14px 30px;
  color: #C35F16;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border: 3px solid #C35F16;
  margin-left: 15px;
  background-color:transparent;
}


.dfbgghfgdfg {
  width: 100%;
  padding: 40px 0;
}

.sdfjhbf h2 {
  color: #143664;
  font-size: 45px;
  font-weight: bold;
}
.sdfjhbf p {
  font-weight: 600;
  font-size: 18px;
}

.sdfjhbf2 h2 {
  color: #2D4A8A;
  font-size: 45px;
  font-family: "Monoton", sans-serif;
}
.sdfjhbf2 p {
  font-weight: 600;
  font-size: 18px;
}

.fgdfjhbgdfg {
  width: 100%;
  height: 500px;
}
.fgdfjhbgdfg img {
  height: 100%;
  height: 100%;
}

.fjhbgdfgd {
  width: 100%;
  padding: 40px 0;
  margin-top: 40px;
}

.dbfgfg {
  width: 150px;
  height: 150px;
  background-color: #143664;
  border-radius: 4%;
  margin-top: -560px;
  margin-left: -55px;
  position: relative;
  text-align: center;
}
.dbfgfg h2 {
  padding-top: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 35px;
}
.dbfgfg p {
  color: #fff !important;
}

.ghsdfsdf h6 {
  font-size: 17px;
  color: #2885f6;
  font-weight: 600;
}
.ghsdfsdf h2 {
  color: #143664;
  font-size: 40px;
  font-weight: bold;
}
.ghsdfsdf p {
  color: #40444E;
  font-size: 18px;
}
.ghsdfsdf i {
  color: #C35F16;
}

.fgjhdfgdfg button {
  padding: 12px 25px;
  background-color: #C35F16;
  color: #fff;
  border: none;
  font-size: 17px;
  border-radius: 4px;
}

.sdfjhbf2 {
  text-align: center;
}

.fgdfjhbgdfg {
  margin-left: 60px;
}

.dbf {
  width: 100%;
  height: 70px;
}
.dbf img {
  width: 100%;
  height: 100%;
}

.dfdfgdfg {
  padding: 40px 0;
}

.dfgbdfhg {
  text-align: left;
}

.dfghdfjhgdf {
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
}

.dfgbdfhg h4 {
  color: #143664;
  font-weight: 700;
}

.dfgbdfhg p {
  color: #40444E;
  font-size: 17px;
}

.xfvdfghdff {
  width: 100%;
  padding: 40px 0;
}

.fbjhfgdf h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #143664;
}

.bghdfgdf {
  width: 120px;
  height: 120px;
  text-align: center;
  margin: auto;
}
.bghdfgdf img {
  width: 100%;
  height: 100%;
}

.dfgbdfg {
  text-align: center;
}

.fgjhdf {
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.dfgbdfg h2 {
  color: #143664;
  font-weight: 600;
  font-size: 25px;
}
.dfgbdfg p {
  color: #40444E;
  font-size: 17px;
}

.gbndfgdf {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: auto;
}
.gbndfgdf img {
  width: 100%;
  height: 100%;
}

.gdfjhgbdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfjhdfg {
  text-align: center;
}
.dfjhdfg h2 {
  color: #143664;
  font-size: 40px;
  font-weight: 600;
}
.dfjhdfg span {
  color: #C35F16;
  font-weight: bold;
}

.dfjhdfg {
  width: 100%;
  height: 80px;
  padding: 10px;
}
.dfjhdfg img {
  width: 100%;
  height: 100%;
}

.dfndf48 {
  padding: 30px 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 12px;
  margin: 10px;
}

.sdfbsdghfsd {
  margin-top: 20px;
}

.fhdfsdf {
  text-align: center;
}
.fhdfsdf h6 {
  color: #2885f6;
  font-size: 18px;
  font-weight: 600;
}
.fhdfsdf h2 {
  color: #143664;
  font-size: 40px;
  font-weight: 700;
}

.gdfngjhdfgsdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjhgdf {
  width: 100%;
  padding: 20px;
  background-color: #EDEDED;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sdfsdjhfb {
  width: 70px;
  height: 70px;
}
.sdfsdjhfb img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.sdfsdjhfb {
  margin-top: -50px;
}

.gdfgjhdfgdf {
  margin-top: 60px;
}

.dsdjhfsdf {
  display: flex;
  justify-content: space-between;
  justify-content: baseline;
  margin-top: 10px;
}

.jdfdf548 {
  width: 60px;
  height: 60px;
}
.jdfdf548 img {
  width: 100%;
  height: 100%;
}

.fghd55f {
  margin-top: 25px;
}
.fghd55f i {
  color: #e9c111;
}

.sdbjhsdfgsf p {
  color: #40444E;
  font-size: 17px;
}
.sdbjhsdfgsf h4 {
  color: #143664;
  font-weight: 600;
  margin-bottom: 0;
}
.sdbjhsdfgsf h6 {
  color: #C35F16;
  font-weight: 600;
}

/*end postcard page  css*/
/*end postcard page  css*/