
/*start leaflet page  css*/
/*start leaflet page  css*/
/*start leaflet page  css*/


.fnjhdfbdfdf {
  width: 100%;
  padding: 40px 0;
}

.fdgfhdfg {
  width: 100%;
  height: 500px;
}
.fdgfhdfg img {
  width: 100%;
  height: 100%;
}

.gdgjhdf h2 {
  color: #143664;
  font-weight: 600;
  font-size: 35px;
}
.gdgjhdf p {
  font-size: 15px;
}

.dfgjhdfgdf h4 {
  font-weight: 600;
}

.dfgnjhdfgdf button {
  padding: 12px 30px;
  border: 2px solid #C35F16;
  color: #C35F16;
}

.fghfgdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhdfgdfg h2 {
  font-weight: 600;
  color: #143664;
  font-size: 35px;
}
.dfgjhdfgdfg span {
  color: #C35F16;
}
.dfgjhdfgdfg p {
  color: #40444E;
  font-size: 15px;
}

.gdfbhgfd {
  width: 60px;
  height: 60px;
  text-align: center;
  margin: auto;
}
.gdfbhgfd img {
  width: 100%;
  height: 100%;
}

.fgfddf {
  text-align: center;
}
.fgfddf h4 {
  color: #143664;
}
.fgfddf p {
  color: #40444E;
}

.dfjghdfg {
  padding: 20px 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 20px;
}

.fgfddf {
  margin-top: 10px;
}

.dfbgnjhdfgvdf {
  width: 100%;
  padding: 40px 0;
}

.gndfjgdfg {
  text-align: center;
  width: 70%;
  margin: auto;
}
.gndfjgdfg h2 {
  color: #143664;
  font-weight: bold;
}
.gndfjgdfg p {
  color: #40444E;
}

.dfjghdfg1 {
  width: 100%;
  height: 500px;
}
.dfjghdfg1 img {
  width: 100%;
  height: 100%;
}

.dfgdfg {
  width: 100%;
  height: 400px;
}
.dfgdfg img {
  width: 100%;
  height: 100%;
}

.gfjdnbghjds h2 {
  font-size: 35px;
  color: #143664;
  font-weight: 600;
}
.gfjdnbghjds p {
  color: #40444E;
  font-size: 15px;
}

.gdfbhgfd {
  width: 70px;
  height: 70px;
}
.gdfbhgfd img {
  width: 100%;
  height: 100%;
}

.fbdfjh h5 {
  color: #143664;
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
}

.fdfgdfg {
  margin-bottom: 40px;
}

/*end leaflet page  css*/
/*end leaflet page  css*/
/*end leaflet page  css*/
/*start poster page  css*/
/*start poster page  css*/
/*start poster page  css*/


.dfhdfgdfg p
{
  color:white !important;
}

.dfgdfgdfg p 
{
    color:white !important;
}


.bannerbg {
  width: 100%;
  height: 650px;
  background-size: 100% 100%;
  padding-top:120px;
}

.bhjdfdfgdfg {
  margin-top: 100px;
}

.dfngfg {
  width: 25px;
  height: 3px;
  background-color: #C35F16;
  margin-top: 10px;
  margin-left: 5px;
}

.ngg55 h6 {
  font-weight: 600;
  font-size: 18px;
  color: #2D4A8A;
}

.bhjdfdfgdfg h2 {
  font-size: 40px !important;
  font-weight: 600;
  letter-spacing: 3px;
  color: #143664;
}
.bhjdfdfgdfg p {
  font-size: 19px;
  color: #40444E;
}

.fgdfg {
  padding: 14px 25px;
  background-color: #2D4A8A;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border: 3px solid #2D4A8A;
}

.fgdfg55 {
  padding: 14px 30px;
  color: #C35F16;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border: 3px solid #C35F16;
  margin-left: 15px;
  background-color:transparent;
}

.fnjhdfdfdf {
  width: 100%;
  padding: 40px 0;
}

.gdfbgjhdfgdf {
  width: 100%;
  height: 400px;
}
.gdfbgjhdfgdf img {
  width: 100%;
  height: 100%;
}

.dfgjhdfgdfg h6 {
  color: #2885f6;
  font-weight: 500;
  font-size: 18px;
}
.dfgjhdfgdfg h2 {
  color: #143664;
  font-size: 35px;
  font-weight: bold;
}
.dfgjhdfgdfg p {
  color: #40444E;
  font-size: 15px;
}

.dfjhfds button {
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  background-color: #143664;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.fghdfg i {
  color: #143664;
  font-weight: 600;
  font-size: 15px;
}
.fghdfg p {
  font-size: 15px;
  color: #40444E;
}

.dfhdfdfsdfg {
  width: 100%;
  padding: 40px 0;
}

.jhbdfgdfg {
  text-align: center;
  width: 65%;
  margin: auto;
}
.jhbdfgdfg h2 {
  font-size: 35px;
  color: #143664;
  font-weight: bold;
}
.jhbdfgdfg p {
  color: #40444E;
}

.dfjhgbdf {
  width: 100%;
  height: 240px;
}
.dfjhgbdf img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.sdbff h5 {
  color: #143664;
  font-size: 20px;
  font-weight: 600;
}
.sdbff p {
  color: #40444E;
}

.fbdfd545f {
  margin: 10px;
}

.sdbff {
  padding: 10px;
}

.sdfnjhsdsdfsdf {
  width: 100%;
  background-color: #143664;
  padding: 50px 0;
  margin-top: 40px;
}

.bhhdfdf {
  width: 100%;
  height: 350px;
}
.bhhdfdf img {
  width: 100%;
  height: 100%;
}

.dfhdfgdfg {
  text-align: center;
  width: 65%;
  margin: auto;
}
.dfhdfgdfg h2 {
  font-size: 35px;
  color: white;
  font-weight: 600;
}
.dfhdfgdfg p {
  color: #fff;
  font-size: 15px;
}

.dfjdfgdf {
  margin-top: 55px;
}

.dfgdfgdfg h6 {
  color: white;
}
.dfgdfgdfg h2 {
  color: white;
  font-weight: 600;
  font-size: 35px;
}
.dfgdfgdfg p {
  font-size: 15px;
  color: white;
}
.dfgdfgdfg button {
  color: black;
  background-color: white;
  border: none;
  /*border-radius: 6px;*/
  font-weight:500;
  font-size:15px;
  padding: 12px 40px;
  margin-top:15px;
}



.gdfgjhdfgdf {
  margin-top: 60px;
}

.dfjhdfg {
  width: 100%;
  height: 80px;
  padding: 10px;
}
.dfjhdfg img {
  width: 100%;
  height: 100%;
}

.dfndf48 {
  padding: 30px 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 12px;
  margin: 10px;
}

.dfjhdfg h2 
{
    text-align:center;
}

.dfjhsdfsd{
    margin-top:20px;
}

/*end poster page  css*/
/*end poster page  css*/