
/*start graphics design page  css*/
/*start graphics design page  css*/
/*start graphics design page  css*/


.bannerbg {
  width: 100%;
  height: 650px;
  /* background: url(../images/497a54c0-92ed-4d12-afe0-6fd9ae13350b.png); */
  background-size: 100% 100%;
  padding-top:120px;
}

.bhjdfdfgdfg {
  margin-top: 100px;
}

.dfngfg {
  width: 25px;
  height: 3px;
  background-color: #C35F16;
  margin-top: 10px;
  margin-left: 5px;
}

.ngg55 h6 {
  font-weight: 600;
  font-size: 18px;
  color: #2D4A8A;
}

.bhjdfdfgdfg h2 {
  font-size: 40px !important;
  font-weight: 600;
  letter-spacing: 3px;
  color: #143664;
}
.bhjdfdfgdfg p {
  font-size: 19px;
  color: #40444E;
}

.fgdfg {
  padding: 14px 25px;
  background-color: #2D4A8A;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border: 3px solid #2D4A8A;
}

.fgdfg55 {
  padding: 14px 30px;
  color: #C35F16;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border: 3px solid #C35F16;
  margin-left: 15px;
  background-color:transparent;
}
.dbgjhdfgdfg h6 {
  color: #143664;
  margin-bottom: 0;
}
.dbgjhdfgdfg h2 {
  color: #143664;
  font-size: 35px;
  font-weight: 600;
}

.rdhnfgdtfh {
  width: 80px;
  height: 5px;
  background-color: #C35F16;
  /*margin-top: 80px;*/
  margin-bottom: 0;
}

.gdfjhgbdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfjhdfg {
  text-align: center;
}
.dfjhdfg h2 {
  color: #143664;
  font-size: 35px;
  font-weight: 600;
}
.dfjhdfg span {
  color: #C35F16;
  font-weight: bold;
}

.dfjhdfg {
  width: 100%;
  height: 80px;
  padding: 10px;
}
.dfjhdfg img {
  width: 100%;
  height: 100%;
}

.dfndf48 {
  padding: 30px 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 12px;
  margin: 10px;
}

.sdfbsdghfsd {
  margin-top: 20px;
}

.fhdfsdf {
  text-align: center;
}
.fhdfsdf h6 {
  color: #2885f6;
  font-size: 18px;
  font-weight: 600;
}
.fhdfsdf h2 {
  color: #143664;
  font-size: 40px;
  font-weight: 700;
}

.jurgsdg5ff {
  width: 100%;
  padding: 40px 0;
}

.ngjkmfghfhfrth {
  width: 100%;
  height: 500px;
}
.ngjkmfghfhfrth img {
  width: 100%;
  height: 100%;
}

/*.dfnjhdfgdf {*/
/*  margin-top: -70px;*/
/*}*/
.dfnjhdfgdf p {
  font-size: 17px;
  color: #40444E;
  line-height: 24px;
  padding-top:10px;
}

.bfhsdbfsdfsdf {
  width: 100%;
  height: 40px 0;
}

.vgdfgdfg {
  width: 100%;
  height: 270px;
  background-color: #000;
  border-radius: 8px;
  padding: 20px;
}
.vgdfgdfg h4 {
  padding-top: 140px;
  color: white;
}

.fgbhsdfdfg {
  width: 100%;
  height: 270px;
}
.fgbhsdfdfg img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.bdfdfds {
  width: 100%;
  height: 320px;
}
.bdfdfds img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-top: 24px;
}

.dfgf {
  width: 40px;
  height: 40px;
}
.dfgf img {
  width: 100%;
  height: 100%;
}

.dfbgdfg {
  width: 100%;
}
.dfbgdfg h4 {
  color: #143664;
  font-size: 18px;
  font-weight: 600;
}
.dfbgdfg p {
  color: #000;
  font-size: 17px;
}

.jhssdfg {
  margin-bottom: 20px;
}

.dfgf {
  margin-bottom: 10px;
}

.dfbgdfg p {
  color: #40444E;
}

.fghgdfgdf h6 {
  color: #2885f6;
  font-weight: 600;
}
.fghgdfgdf h2 {
  color: #143664;
  font-size: 35px;
  font-weight: 600;
}
.fghgdfgdf p {
  color: #40444E;
}

.bghdfblsdffgsd {
  margin: 40px 0;
  /* background: url(../images/graphicbgbanner.png); */
  width: 100%;
  height: 600px;
}

.gdfhgyudfgdf {
  width: 100%;
  height: 270px;
  background-color: #2885f6;
  border-radius: 8px;
  padding: 30px;
  margin-top: 250px;
}
.gdfhgyudfgdf h4 {
  color: white;
  font-weight: 600;
  font-size: 30px;
}
.gdfhgyudfgdf p {
  color: white !important;
  font-size: 14px !important;
  line-height:23px;
}

.gdfhgyudfgdf {
  text-align: center;
}

.ffhfghfghg {
  text-align: center;
}

.bfdf65 {
  text-align: center;
  margin: auto;
  background-color: #C35F16;
  width: 70px;
  height: 5px;
}

.ffhfghfghg {
  margin-top: 40px;
}
.ffhfghfghg h2 {
  color: #143664;
  font-size: 35px;
}

.nfbfd484
{
    margin-top:20px;
}

.nfbfd484 i 
{
   color: #143664;
}

.sdfjhbfsfrhbdfgnhb {
    text-align: center;
}
.sdfjhbfsfrhbdfgnhb h2 {
    color: #143664;
    font-size: 40px;
    font-weight: bold;
}

.sdfjhbfsfrhbdfgnhb p {
    font-weight: 600;
    font-size: 16px;
}

.sdfjhbfsfrhbdfgnhb2 {
    text-align: center;
}
.sdfjhbfsfrhbdfgnhb2 h2 {
    color: #2D4A8A;
    font-size: 36px;
    font-family: "Monoton", sans-serif;
}

.sdfjhbfsfrhbdfgnhb2 p {
    font-weight: 600;
    font-size: 16px;
}

/*end graphics design page  css*/
/*end graphics design page  css*/