.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 30px;
  border-radius: 18px;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
  height: 350px;
}
.dgndfgdfgdf img {
  width: 100%;
  height: 100%;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.bhyudfdg {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
}
.bhyudfdg img {
  width: 100%;
  height: 100%;
}

.fnhjifdfdg {
  text-align: center;
}
.fnhjifdfdg h6 {
  color: #032D60;
  font-size: 25px;
  font-weight: 600;
  padding-top: 5px;
  font-family: var(--font-family-montserrat);
}
.fnhjifdfdg p {
  color: black;
  font-size: 15px;
  padding-top: 15px;
}

.vhfdhhgfdfdg {
  width: 100%;
  padding: 40px 0;
}

.njvfdgfd {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.dfhbfgd {
  width: 100%;
  height: 450px;
}
.dfhbfgd img {
  width: 100%;
  height: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.sdnfjhsdfsdfsdf {
  width: 100%;
  padding: 40px 0;
}

.zsdcvdfgfryhfre .tab-container{
	padding: 3%;
	border-radius: 4px;
}
.zsdcvdfgfryhfre .tab-menu{
    flex: 0 0 auto;
}
.zsdcvdfgfryhfre .tab-menu ul{
	margin: 0;
	padding: 0;
}
.zsdcvdfgfryhfre .tab-menu ul li{
	list-style-type: none;
}
.zsdcvdfgfryhfre .tab-menu ul li a{
	text-decoration: none;
	color: #000;
	font-size: 1.4rem;
	padding: 1.5rem 1.5rem;
	border: 1px solid var(--button-main-blue-color);
	border-radius: 10px;
	display: block;
}
.zsdcvdfgfryhfre .tab-menu ul li a.active-a{
	color: #fff;
	background: var(--button-main-blue-color);
}
.zsdcvdfgfryhfre .tab{
	display: none;
}
.zsdcvdfgfryhfre .tab h2{
	color: var(--main-blue-color);
	margin-bottom: 1.4rem;
}
.zsdcvdfgfryhfre .tab p{
	text-align: justify;
}
.zsdcvdfgfryhfre .tab-active{
	display: block;
}