    
/*start  new on page seo  css*/
/*start  new on page seo  css*/
/*start  new on page seo  css*/
.dfgjhfgd {
  display: flex;
  padding: 0 0 3rem 0;
}

.dbfghsdf img{
    width: 100%;
    height: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.sdfghdfgdf {
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.ubnuiiuniewrr .oimihiewrwer h5 {
  color: #C35F16;
  text-transform: uppercase;
}
.ubnuiiuniewrr .ikfnmierhter > img {
  width: 100%;
  height: auto;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr {
  border: 1px solid var(--border-color-light-grey);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr img {
  width: 3rem;
  height: 100%;
}
.ubnuiiuniewrr .idnwehrjwerwerwerwe_wrapper .iudnhwnuihewrr .iojnuihwqeqweqwe h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2854A1;
}

 .oimihiewrwer h2 
{
    color:#133664;
    font-weight:600;
    font-size:40px;
}

.fbgdfgdfgdf h2 {
  color: var(--main-blue-color);
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: var(--medium-text-color);
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: var(--button-main-blue-color);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf img {
  width: 100%;
}
.fdnbvgdfgdfgdf {
  margin-top: 40px;
}
.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: var(--main-blue-color);
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: var(--medium-text-color);
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}


/*end  new on page seo  css*/
/*end  new on page seo  css*/
/*end  new on page seo  css*/