/*start press releas  css*/
/*start press releas  css*/
/*start press releas  css*/
.bfghsdbfsd {
  width: 100%;
  /*padding: 40px;*/
}

.fgbdfgf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.dfgjhdfgdfg {
  margin-top: 45px;
}

.dffghdf1 {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: linear-gradient(90deg, rgb(232, 185, 162) 0%, rgb(255, 255, 255) 50%, rgb(205, 209, 247) 100%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(238, 239, 240, 0.15) 0px 2px 6px 2px;
}

.dffghdf {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: linear-gradient(90deg, rgb(232, 185, 162) 0%, rgb(251, 251, 251) 50%, rgb(205, 209, 247) 100%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.dffghdf2 {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: linear-gradient(90deg, rgb(232, 185, 162) 0%, rgb(255, 255, 255) 50%, rgb(205, 209, 247) 100%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.jhfg525 {
  width: 65px;
  height: 65px;
}
.jhfg525 img {
  width: 100%;
  height: 100%;
}

.df65bdf h4 {
  color: #032D60;
  font-weight: 600;
  padding-top: 10px;
}

.fndfjhgdfg {
  width: 100%;
  height: 350px;
}
.fndfjhgdfg img {
  width: 100%;
  height: 100%;
}

.dfbngjhdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.fgjbdfg h2 {
  color: #032D60;
  font-size: 40px;
}

/*end press releas  css*/
/*end press releas  css*/