/*start new digital markeing design page  css*/

.dbfghsdf img {
    width: 100%;
    height: auto;
}

.sdfghdfgdf {
    width: 50%;
    float: left;
    padding: 70px;
}

.sdfghdfgdf h1 {
    color: #032D60;
    font-weight: bold;
}

.sdfghdfgdf p {
    color: #181818;
    font-size: 17px;
    font-weight: 500;
}

.btn125 {
    padding: 14px 40px;
    background-color: #0176D3;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #0176D3;
    border-radius: 4px;
}

.btn126 {
    padding: 14px 40px;
    background-color: transparent;
    color: #0176D3;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #0176D3;
    border-radius: 4px;
    margin-left: 10px;
}

.custom-container {
    width: 70%;
    margin: auto;
}

.fjhfdfgdfg {
    width: 100%;
    padding: 40px 0;
}

.dfgjhfgd {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    padding: 1rem 0 3rem 0;
}

.dfgjhfgd {
    width: 100%;
    height: 80vh;
    background-size: 100% 100%;
}

.sdfsdfsdf h2 {
    color: #032D60;
    font-size: 40px;
    font-weight: 600;
}

.sdfsdfsdf p {
    color: #181818;
    font-weight: 500;
    font-size: 18px;
}

.dfhbfgd {
    width: 100%;
    height: 450px;
}

.dfhbfgd img {
    width: 100%;
    height: 100%;
}

.dfbnhdfdf h2 {
    color: #032D60;
    font-size: 40px;
    font-weight: 600;
}

.dfbnhdfdf p {
    color: #181818;
    font-weight: 500;
    font-size: 17px;
}

.fgjhdfg .form-control {
    padding: 10px;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
    margin-bottom: 20px;
}

.dfgbfdf button {
    padding: 14px 35px;
    color: white;
    background-color: #0176D3;
    border-radius: 4px;
    border: none;
    font-size: 17px;
    font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
    width: 100%;
    padding: 40px 0;
}

.mgjhbdfg p {
    padding-bottom: 10px;
    color: #181818;
}

.mgjhbdfg a {
    color: #0176D3;
    font-weight: 500;
}

.dfbjhfdfgdf {
    width: 100%;
    padding: 40px 0;
}

.vgbfdf {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 1.4rem;
}

.custom-container10 {
    width: 75%;
    margin: auto;
}

.fbgdfgdfgdf h2 {
    color: #032D60;
    font-size: 40px;
    font-weight: 600;
}

.fbgdfgdfgdf p {
    color: #181818;
    font-size: 17px;
}

.fbgdfgdfgdf button {
    padding: 12px 30px;
    background-color: #0176D3;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 4px;
}

.dgndfgdfgdf {
    width: 100%;
    height: 350px;
}

.dgndfgdfgdf img {
    width: 100%;
    height: 100%;
}

.fdnbvgdfgdfgdf {
    margin-top: 40px;
}

.cfbvhdfgdf {
    width: 70%;
    margin: auto;
}

.cfbvhdfgdf h2 {
    color: #032D60;
    font-weight: bold;
    font-size: 40px;
}

.cfbvhdfgdf p {
    color: #181818;
    font-size: 17px;
}

.xnjhxffgdf {
    width: 100%;
}

.xnjhxffgdf img {
    width: 100%;
}

/*end new digital markeing design page  css*/



/*start affordable seo css*/
/*start affordable seo css*/
/*start affordable seo css*/
.gjhfgfgdfg {
    width: 100%;
    padding: 40px 0;
}

.gdfjkghdgsd {
    width: 100%;
    background-color: #143664;
    height: 450px;
    padding: 25px;
    border-radius: 4px;
}

.jhgdf {
    width: 100%;
    height: 2px;
    background-color: #40444E;
}

.gdfjkghdgsd h5 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.gdfjkghdgsd p {
    color: white;
    font-size: 16px !important;
    width: 100%;
}

.gdfhgdfg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #C35F16;
    text-align: center;
    line-height: 55px;
}

.gdfhgdfg i {
    text-align: center;
    color: white;
}

.ggdfgdfg {
    margin-left: -20px !important;
}

.ggdfgdfg h6 {
    color: white;
    font-size: 18px !important;
    font-weight: 600;
}

.ggdfgdfg p {
    color: #fff;
    font-size: 14px !important;
    width: 100%;
}

.drfghdfgfr {
    margin-top: 15px;
}

.dfjbfg .form-control {
    padding: 10px;
}

.dfjbfg {
    margin-bottom: 25px;
}

.dfjbfg button {
    padding: 14px 45px;
    background-color: #2D4A8A;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
    color: black;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0;
}

.njhfbg5654 {
    width: 65px;
    height: 65px;
    text-align: center;
    margin: auto;
    background-color: #d6f7f7;
    border-radius: 8px;
    margin-top: 40px;
}

.njhfbg5654 img {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.gdfhbgdfgdfg h4 {
    color: #032D60;
    font-weight: 600;
    height: 75px;
    font-size: 24px;
}

.gdfhbgdfgdfg button {
    font-weight: 600;
    color: #032D60;
    text-decoration: underline;
    margin-top: 50px;
    border: none;
}

.container-grid {
    width: 80%;
    margin: auto;
}

.fjhjdfdfgdf {
    width: 100%;
    padding: 40px 0;
}

.gdfhbgdfgdfg {
    text-align: center;
    margin-top: 30px;
}

.gdfhbgdfgdfg h4 {
    color: #133662;
    font-size: 20px;
}

.dfdfdfg {
    padding: 15px;
    margin: 10px 20px;
    border-radius: 16px;
    border-bottom: 12px solid #E6A822;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gdfhbgdfgdfg h4 {
    padding-top: 25px;
    font-size: 24px;
    color: #032D60 !important;
    font-weight: 600;
}

.sdmsdjhsds img {
    width: 100%;
    height: auto;
}

/*end affordable seo css*/
/*end affordable seo css*/



.doiewnirnewr_inner {
    border-radius: 1.4rem;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

.desonjfreuiwnr {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: var(--main-orange-border-color);
    padding: 1rem;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.doiewnirnewr_inner h4 {
    color: var(--main-blue-color);
    font-weight: 600;
}

.idnwehrwer_overlay {
    background: rgba(255, 255, 255, 0.7);
}

.sddfgjoidfgkujoj {
    background: #fff;
}

@keyframes star {
    0% {
        opacity: 0;
        transform: translate(100px, 0);
    }

    25% {
        opacity: 0.8;
        transform: translate(75px, 25px);
    }

    75% {
        opacity: 0.9;
        transform: translate(25px, 75px);
    }

    100% {
        opacity: 0;
        transform: translate(0, 100px);
    }
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
    background: rgba(195, 95, 22, 0.7);
    border-radius: 50%;
}

.star1 {
    animation: star 4s linear both infinite;
}

.star2 {
    width: 2px;
    height: 2px;
    left: 50px;
    animation: star 8s linear both infinite;
}

.star3 {
    background: rgba(195, 95, 22, 0.7);
    left: -50px;
    animation: star 1.5s linear 0.5s both infinite;
}

.star4 {
    width: 2px;
    height: 2px;
    left: -30px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 3s linear 1s both infinite;
}

.star5 {
    left: 50px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 3.5s linear 5s both infinite;
}

.star6 {
    width: 4px;
    height: 4px;
    left: -10px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 6s linear 4.5s both infinite;
}

.star7 {
    width: 3px;
    height: 3px;
    left: 25px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 2s linear 4.5s both infinite;
}

.star8 {
    width: 5px;
    height: 5px;
    opacity: 1;
    background: rgba(195, 95, 22, 0.7);
    left: 15px;
    animation: star 3s linear 6.5s both infinite;
}

.star9 {
    width: 4px;
    height: 4px;
    left: -33px;
    opacity: 1;
    background: rgba(195, 95, 22, 0.7);
    animation: star 1.6s linear 5s both infinite;
}

.star10 {
    width: 3px;
    height: 3px;
    left: -40px;
    opacity: 1;
    background: rgba(195, 95, 22, 0.7);
    animation: star 1.8s linear 4.5s both infinite;
}

.star13 {
    background: rgba(195, 95, 22, 0.7);
    left: -50px;
    animation: star 1.5s linear 4.2s both infinite;
}

.star14 {
    width: 2px;
    height: 2px;
    left: -30px;
    background: rgba(195, 95, 22, 0.7);
    animation: star 3s linear 5s both infinite;
}