/*start postcard design service css*/
/*start postcard design service css*/
/*start postcard design service css*/
.sdfbghdsvbfdfd {
  width: 100%;
  padding: 40px 0;
}

.nfdjfd {
  width: 100%;
  height: 300px;
}
.nfdjfd img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.kdsdnfvdsfd h2 {
  color: #032D60;
  font-weight: 600;
  font-size: 40px;
}

.fgfdg {
  margin-top: 15px;
}
.fgfdg h4 {
  color: #032D60;
  font-weight: 600;
}

.dfbnghjfdgfd {
  margin-top: 20px;
}


.sdcbvghsdcsddvfsd {
  width: 100%;
  padding: 40px 0;
}

.hsdffdvffdfd h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.fdnbujfbf {
  margin-top: 15px;
}
.fdnbujfbf i {
  color: #a75316;
  font-weight: bold;
}

.sdhdvbusdsfs {
  width: 100%;
  padding: 40px 0;
}

.cjdjcdc {
  width: 100%;
  height: 450px;
}
.cjdjcdc img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.fdhjhj h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}


/*end postcard design service css*/
/*end postcard design service css*/