/*start  Infographics Design Company css*/
/*start  Infographics Design Company css*/
/*start  Infographics Design Company css*/
.fghsdfgsdfgdfg {
  width: 100%;
  padding: 40px;
}

.fghsdfsdf {
  width: 100%;
  height: 200px;
}
.fghsdfsdf img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.dfbhdfdf6528 {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.fdfdfg h2 {
  color: #032D60;
}


.dfngjhdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.cfbgjhcfdf {
  width: 100%;
  height: 450px;
}
.cfbgjhcfdf img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.fgydfgdfg h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.fgydfgdfg button {
  padding: 12px 25px;
  border: 2px solid #032D60;
  border-radius: 25px;
  font-size: 17px;
}

.fdfdfg h4 {
  color: #032D60;
  font-weight: 600;
  padding-top:15px;
}

/*end  Infographics Design Company css*/
/*end  Infographics Design Company css*/