/*start  link building seo css*/
/*start  link building seo css*/
/*start  link building seo css*/
.sdcbvghsdcsddvfsd {
  width: 100%;
  padding: 40px 0;
}

.hsdffdvffdfd h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.fdnbujfbf {
  margin-top: 15px;
}
.fdnbujfbf i {
  color: #a75316;
  font-weight: bold;
}

.fgjbdfgdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.nfgjhf {
  width: 100%;
  height: 270px;
}
.nfgjhf img {
  width: 100%;
  height: 100%;
}

.dfghdfgfd {
  width: 100%;
  display: flex;
  margin-top: -60px;
  margin-left: 60px;
}

.jkfbgdfg {
  width: 70px;
  height: 60px;
  background-color: #143664;
  text-align: center;
  line-height: 60px;
}
.jkfbgdfg img {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 60px;
}

.fghjdfg25 {
  width: 90%;
  height: 60px;
  background-color: #fff;
}
.fghjdfg25 h6 {
  color: #143664;
  line-height: 60px;
  padding-left: 30px;
  font-size: 21px;
  font-weight: 600;
}

.hdfgfd {
  padding: 10px;
}
.hdfgfd p {
  font-size: 19px;
  color: #40444E;
}
.hdfgfd button {
  background-color: none;
  border: none;
  color: #2D4A8A;
  font-weight: 600;
  font-size: 20px;
}

.jhfsdfgsdf {
  margin-top: 40px;
}

.gdfgdfgdgdfg {
  width: 100%;
  padding: 20px 0;
  background-color: #143664;
}

.dfgfg {
  width: 80%;
  height: 90px;
}
.dfgfg img {
  width: 100%;
  height: 100%;
}

.jfgdfg {
  width: 100%;
  height: 470px;
}
.jfgdfg img {
  width: 100%;
  height: 100%;
}

.fghhbdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.fgjfdg2 {
  width: 100%;
}

.fgjfdg2 h6 {
  font-size: 18px;
  font-weight: 600;
  color: #2D4A8A;
}
.fgjfdg2 h2 {
  color: #143664;
  font-weight: bold;
  font-size: 45px;
}
.fgjfdg2 p {
  font-size: 17px;
  color: #40444E;
}
.fgjfdg2 span {
  color: #C35F16;
}

.fhgjfgdfg {
  text-align: center;
  margin: auto;
}

.fhgjfgdfg {
  width: 65%;
  margin: auto;
}
.fhgjfgdfg h6 {
  color: #2D4A8A;
  font-size: 18px;
  font-weight: 600;
}
.fhgjfgdfg h2 {
  color: #143664;
  font-weight: bold;
  font-size: 45px;
}
.fhgjfgdfg span {
  color: #C35F16;
}


.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}

.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
  height: 350px;
}

.dgndfgdfgdf img {
  width: 100%;
  height: 100%;
}

.duiewir_inner{
    border-radius: 1.4rem;
    background: #cbf3e8;
}

.duiewir_inner h4{
    font-weight: 600;
    color: var(--main-blue-color);
}

.v_dfgddasf img{
    width: 16rem;
}

.duiewir_inner.vddfsddfff img{
    width: 5rem;
}

.vddfsddfff{
    background: #efefe5;
}

.csdfvwecvfrtsrfsd{
    background: #ddf3f3;
}

.xscvsdfvcsdcsfsdf{
    background: #edeaf1;
}

.xscvsdfvcsdcsfsdf img{
    width: 100% !important;
}
