/*start affordable seo css*/
/*start affordable seo css*/
/*start affordable seo css*/
.gjhfgfgdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjkghdgsd {
  width: 100%;
  background-color: #143664;
  height: 450px;
  padding: 25px;
  border-radius: 4px;
}

.jhgdf {
  width: 100%;
  height: 2px;
  background-color: #40444E;
}

.gdfjkghdgsd h5 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.gdfjkghdgsd p {
  color: white;
  font-size: 16px !important;
  width: 100%;
}

.gdfhgdfg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C35F16;
  text-align: center;
  line-height: 55px;
}

.gdfhgdfg i {
  text-align: center;
  color: white;
}

.ggdfgdfg {
  margin-left: -20px !important;
}

.ggdfgdfg h6 {
  color: white;
  font-size: 18px !important;
  font-weight: 600;
}

.ggdfgdfg p {
  color: #fff;
  font-size: 14px !important;
  width: 100%;
}

.drfghdfgfr {
  margin-top: 15px;
}

.dfjbfg .form-control {
  padding: 10px;
}

.dfjbfg {
  margin-bottom: 25px;
}

.dfjbfg button {
  padding: 14px 45px;
  background-color: #2D4A8A;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

.njhfbg5654 {
  width: 65px;
  height: 65px;
  text-align: center;
  margin: auto;
  background-color: #d6f7f7;
  border-radius: 8px;
  margin-top: 40px;
}
.njhfbg5654 img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.gdfhbgdfgdfg h4 {
  color: #032D60;
  font-weight: 600;
  height: 75px;
  font-size: 24px;
}
.gdfhbgdfgdfg button {
  font-weight: 600;
  color: #032D60;
  text-decoration: underline;
  margin-top: 50px;
  border: none;
}

.container-grid {
  width: 80%;
  margin: auto;
}

.fjhjdfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.gdfhbgdfgdfg {
  text-align: center;
  margin-top: 30px;
}
.gdfhbgdfgdfg h4 {
  color: #133662;
  font-size: 20px;
}

.dfdfdfg {
  padding: 15px;
  margin: 10px 20px;
  border-radius: 16px;
  border-bottom: 12px solid #E6A822;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gdfhbgdfgdfg h4 {
  padding-top: 25px;
  font-size: 24px;
  color: #032D60 !important;
  font-weight: 600;
}

.sdmsdjhsds img {
  width: 100%;
  height: auto;
} 

/*end affordable seo css*/
/*end affordable seo css*/


.dfgjhfgd {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

.dfgjhfgd
{
  width: 100%;
  height: 80vh;
  background-size: 100% 100%;
}

.sdfsdfsdf h2 {
  color: var(--main-blue-color);
}
.sdfsdfsdf p {
  color: var(--medium-text-color);
}

.sdfghdfgdf {
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: var(--main-blue-color);
  font-weight: bold;
}
.sdfghdfgdf p {
  color: var(--medium-text-color);
}

.dbfghsdf img{
    width: 100%;
    height: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}
