
/*start  photo sharing css*/
/*start  photo sharing css*/
/*start  photo sharing css*/

.dfngjhdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.cfbgjhcfdf {
  width: 100%;
  height: 450px;
}
.cfbgjhcfdf img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}


.jhbdfbgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfbdfdf {
  width: 100%;
  height: 250px;
  background-color: #f1fbf9;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.guifgfgfg {
  text-align: center;
}
.guifgfgfg h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.dfvgfdfvgdfg {
  margin-top: 40px;
}

.jhdfbdf55 {
  width: 100%;
  height: 520px;
}

.fbdf {
  width: 60px;
  height: 60px;
}
.fbdf img {
  width: 100%;
  height: 100%;
}

.jhdfbdf55 {
  width: 100%;
  height: 520px;
  background-color: #f1fbf9;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.dfdf55g h4 {
  color: #032D60;
  font-weight: 600;
}

.fgydfgdfg h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.fgydfgdfg button {
  padding: 12px 25px;
  border: 2px solid #032D60;
  border-radius: 25px;
  font-size: 17px;
}


/*end  photo sharing css*/
/*end  photo sharing css*/