/*start visiting card css*/
/*start visiting card css*/
/*start visiting card css*/
.sdvggsdcsd {
  width: 100%;
  padding: 40px 0;
}

.fdnvhjfdv {
  height: 450px;
  width: 100%;
}
.fdnvhjfdv img {
  width: 100%;
  height: 100%;
}

.sdbghcsdcsd h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.sdbghcsdcsd button {
  padding: 12px 20px;
  border-radius: 25px;
  border: 3px solid #032D60;
  color: #032D60;
  font-weight: 600;
}


.vnhdfiuvhfdbfd {
  width: 100%;
  padding: 50px 0;
  background-size: 100% 100%;
}

.fdghufgfdgf {
  padding: 20px 0;
}
.fdghufgfdgf h2 {
  color: #032D60;
  font-weight: 600;
  font-size: 40px;
}

/*start   blog marketing service service  css*/
.fdnfkdnfdg h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}

.ujhfgfg {
  width: 60px;
  height: 60px;
}
.ujhfgfg img {
  width: 100%;
  height: 100%;
}

.fdbvhjfyfdg h6 {
  font-size: 25px;
  font-weight: 600;
  color: #032D60;
}

.fvbnjfdvfdgfd {
  margin-top: 60px;
}

.fhvgfdfd {
  padding: 35px 15px;
  border-radius: 8px;
  margin-bottom: 35px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.bhyudfdg {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 100px;
}
.bhyudfdg img {
  width: 100%;
  height: 100%;
}

.fnhjifdfdg {
  text-align: center;
}
.fnhjifdfdg h6 {
  color: #032D60;
  font-size: 25px;
  font-weight: 600;
  padding-top: 5px;
}
.fnhjifdfdg p {
  color: black;
  font-size: 15px;
  padding-top: 15px;
}

.vhfdhhgfdfdg {
  width: 100%;
  padding: 40px 0;
}

.njvfdgfd {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


/*end visiting card css*/
/*end visiting card css*/
/*end visiting card css*/