.dbfghsdf img{
    width: 100%;
    height: auto;
}
.sdfghdfgdf {
  width: 50%;
  float: left;
  padding: 70px;
}
.sdfghdfgdf h1 {
  color: #032D60;
  font-weight: bold;
}
.sdfghdfgdf p {
  color: #181818;
  font-size: 17px;
  font-weight: 500;
}

.btn125 {
  padding: 14px 40px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #0176D3;
  border-radius: 4px;
}

.btn126 {
  padding: 14px 40px;
  background-color: transparent;
  color: #0176D3;
  font-size: 17px;
  font-weight: 600;
  border: 2px solid #0176D3;
  border-radius: 4px;
  margin-left: 10px;
}

.custom-container {
  width: 70%;
  margin: auto;
}

.fjhfdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.dfgjhfgd {
  display: flex;
  width: 100%;
  padding: 0 0 3rem 0;
}

p a{
    font-weight: 600;
}

.sdfsdfsdf h2 {
  color: #032D60;
}

.dfhbfgd {
  width: 100%;
}
.dfhbfgd img {
  width: 100%;
}

.dfbnhdfdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.dfbnhdfdf p {
  color: #181818;
  font-weight: 500;
  font-size: 17px;
}

.fgjhdfg .form-control {
  padding: 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.fgjhdfg {
  margin-bottom: 20px;
}

.dfgbfdf button {
  padding: 14px 35px;
  color: white;
  background-color: #0176D3;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  font-weight: 500;
}

.inieuirjndsirferer.collapse {
    justify-content: right;
}

.dfbghdfgdfgdf {
  width: 100%;
  padding: 40px 0;
}

.mgjhbdfg p {
  padding-bottom: 10px;
  color: #181818;
}

.mgjhbdfg a {
  color: #0176D3;
  font-weight: 500;
}

.dfbjhfdfgdf {
  width: 100%;
  padding: 40px 0;
}

.vgbfdf {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  border-radius: 1.4rem;
}

.custom-container10 {
  width: 75%;
  margin: auto;
}

.fbgdfgdfgdf h2 {
  color: #032D60;
  font-size: 40px;
  font-weight: 600;
}
.fbgdfgdfgdf p {
  color: #181818;
  font-size: 17px;
}
.fbgdfgdfgdf button {
  padding: 12px 30px;
  background-color: #0176D3;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.dgndfgdfgdf {
  width: 100%;
}
.dgndfgdfgdf img {
  width: 100%;
  height: auto;
}

.fdnbvgdfgdfgdf {
  margin-top: 40px;
}

.cfbvhdfgdf {
  width: 70%;
  margin: auto;
}
.cfbvhdfgdf h2 {
  color: #032D60;
  font-weight: bold;
  font-size: 40px;
}
.cfbvhdfgdf p {
  color: #181818;
  font-size: 17px;
}

.xnjhxffgdf {
  width: 100%;
}
.xnjhxffgdf img {
  width: 100%;
}

.gjhfgfgdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjkghdgsd {
  width: 100%;
  background-color: #143664;
  height: 450px;
  padding: 25px;
  border-radius: 4px;
}

.jhgdf {
  width: 100%;
  height: 2px;
  background-color: #40444E;
}

.gdfjkghdgsd h5 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.gdfjkghdgsd p {
  color: white;
  font-size: 16px !important;
  width: 100%;
}

.gdfhgdfg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C35F16;
  text-align: center;
  line-height: 55px;
}

.gdfhgdfg i {
  text-align: center;
  color: white;
}

.ggdfgdfg {
  margin-left: -20px !important;
}

.ggdfgdfg h6 {
  color: white;
  font-size: 18px !important;
  font-weight: 600;
}

.ggdfgdfg p {
  color: #fff;
  font-size: 14px !important;
  width: 100%;
}

.drfghdfgfr {
  margin-top: 15px;
}

.dfjbfg .form-control {
  padding: 10px;
}

.dfjbfg {
  margin-bottom: 25px;
}

.dfjbfg button {
  padding: 14px 45px;
  background-color: #2D4A8A;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

.njhfbg5654 {
  width: 65px;
  height: 65px;
  text-align: center;
  margin: auto;
  background-color: #d6f7f7;
  border-radius: 8px;
  margin-top: 40px;
}
.njhfbg5654 img {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.gdfhbgdfgdfg h4 {
  color: #032D60;
  font-weight: 600;
  height: 75px;
  font-size: 24px;
}
.gdfhbgdfgdfg button {
  font-weight: 600;
  color: #032D60;
  text-decoration: underline;
  margin-top: 50px;
  border: none;
}

.container-grid {
  width: 80%;
  margin: auto;
}

.sdmsdjhsds{
    margin-top: -7rem;
    position: relative;
    z-index: -9;
}

.sdmsdjhsds img {
  width: 100%;
  height: auto;
}

.dienwm_iuemrer h2 {
    color: var(--main-blue-color);
    position: relative;
    margin-bottom: 3rem !important;
}

.dienwm_iuemrer h2:before {
    position: absolute;
    content: "";
    width: 5rem;
    height: 0.4rem;
    border-radius: 5px;
    background: linear-gradient(to right, #FE621F, #8C4AC8);
    top: -0.7rem;
    left: 0;
}

.dienwm_iuemrer h2:after {
    position: absolute;
    content: "";
    width: 5rem;
    height: 0.4rem;
    border-radius: 5px;
    background: linear-gradient(to right, #FE621F, #8C4AC8);
    bottom: -0.7rem;
    left: 0;
}

.ndjiwenkndfuiwehrwer{
    margin-bottom: 12rem;
}

.weinjiurr_inner{
    border-radius: 1.4rem;
    background: #E3FBFF;
}

.weinjiurr_inner h2{
    color: var(--main-blue-color);
    margin-bottom: 1.4rem;
}

.fjhfdfgdfg .weinjiurr_inner:nth-of-type(3n - 1){
    background: #8ed6e1;
}

.fjhfdfgdfg .weinjiurr_inner:last-child{
    background: #59a5b0;
    color: #fff;
}

.fjhfdfgdfg .weinjiurr_inner:last-child h2{
    color: #fff;
}

.dsrt_inner h2{
    color: var(--main-blue-color);
}

.doiwerhkwenrwer{
    background: no-repeat fixed;
    background-size: cover;
    background-position: center center;
}

.djniwer_inner{
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: saturate(180%) blur(10px);
}

.djniwer_inner h4{
    margin-top: 1rem;
    color: var(--main-blue-color);
    font-weight: 600;
}