
/*start web development page  css*/
/*start web development page  css*/
/*start web development page  css*/
.bannerbg {
  width: 100%;
  height: 500px;
  background-size: 100% 100%;
}

.bhjdfdfgdfg {
  margin-top: 100px;
}

.dfngfg {
  width: 25px;
  height: 3px;
  background-color: #C35F16;
  margin-top: 10px;
  margin-left: 5px;
}

.ngg55 h6 {
  font-weight: 600;
  font-size: 18px;
  color: #2D4A8A;
}

.bhjdfdfgdfg h2 {
  font-size: 40px !important;
  font-weight: 600;
  letter-spacing: 3px;
  color: #143664;
}
.bhjdfdfgdfg p {
  font-size: 19px;
  color: #40444E;
}

.fgdfg {
  padding: 14px 25px;
  background-color: #2D4A8A;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border: 3px solid #2D4A8A;
}

.fgdfg55 {
  padding: 14px 30px;
  color: #C35F16;
  border: none;
  font-weight: 500;
  font-size: 17px;
  border: 3px solid #C35F16;
  margin-left: 15px;
  background-color:transparent;
}

.bgbgft {
  width: 100%;
  height: 400px;
  margin-top: 60px;
}
.bgbgft img {
  width: 100%;
  height: 100%;
}

.dffgfg {
  width: 100%;
  height: 500px;
}
.dffgfg img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.secondwebd {
  width: 100%;
  padding: 40px 0;
  margin-top: 30px;
}

.dfbgf {
  width: 40px;
  height: 4px;
  background-color: #C35F16;
}

.fgjfdg span {
  color: #C35F16;
}

.dgdfg i {
  color: #C35F16;
}

.dgdfg p 
{
    font-size:16px !important;
}

.fgjfdg {
  width: 100%;
  /* margin-top: 60px; */
}

.fgjfdg h6 {
  font-size: 18px;
  font-weight: 600;
  color: #2D4A8A;
}
.fgjfdg h2 {
  color: #143664;
  font-weight: bold;
  font-size: 35px;
}
.fgjfdg p {
  font-size: 17px;
}

.dgdfg p {
  color: #143664;
  font-weight: 600;
}

.fhgjfgdfg {
  text-align: center;
  margin: auto;
}

.fhgjfgdfg {
  width: 65%;
  margin: auto;
}
.fhgjfgdfg h6 {
  color: #2D4A8A;
  font-size: 18px;
  font-weight: 600;
}
.fhgjfgdfg h2 {
  color: #143664;
  font-weight: bold;
  font-size: 35px;
}
.fhgjfgdfg span {
  color: #C35F16;
}

.dfbgf2 {
  text-align: center;
  margin: auto;
  width: 40px;
  height: 3px;
  background-color: #C35F16;
}

.fgjbdfgdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.nfgjhf {
  width: 100%;
  height: 300px;
}
.nfgjhf img {
  width: 100%;
  height: 100%;
}

.dfghdfgfd {
  width: 100%;
  display: flex;
  margin-top: -60px;
  margin-left: 60px;
}

.jkfbgdfg {
  width: 70px;
  height: 60px;
  background-color: #143664;
  text-align: center;
  line-height: 60px;
}
.jkfbgdfg img {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 60px;
}

.fghjdfg25 {
  width: 90%;
  height: 60px;
  background-color: #fff;
}
.fghjdfg25 h6 {
  color: #143664;
  line-height: 60px;
  padding-left: 30px;
  font-size: 21px;
  font-weight: 600;
}

.hdfgfd {
  padding: 10px;
}
.hdfgfd p {
  font-size: 19px;
  color: #40444E;
}
.hdfgfd button {
  background-color: none;
  border: none;
  color: #2D4A8A;
  font-weight: 600;
  font-size: 20px;
}

.jhfsdfgsdf {
  margin-top: 40px;
}

.gdfgdfgdgdfg {
  width: 100%;
  padding: 20px 0;
  background-color: #143664;
}

.dfgfg {
  width: 80%;
  height: 90px;
}
.dfgfg img {
  width: 100%;
  height: 100%;
}

.jfgdfg {
  width: 100%;
  height: 470px;
}
.jfgdfg img {
  width: 100%;
  height: 100%;
}

.fghhbdfgdfg {
  width: 100%;
  padding: 40px 0;
}

.fgjfdg2 {
  width: 100%;
}

.fgjfdg2 h6 {
  font-size: 18px;
  font-weight: 600;
  color: #2D4A8A;
}
.fgjfdg2 h2 {
  color: #143664;
  font-weight: bold;
  font-size: 35px;
}
.fgjfdg2 p {
  font-size: 17px;
  color: #40444E;
}
.fgjfdg2 span {
  color: #C35F16;
}

.sdfdfgdfgf {
  width: 100%;
  height: 55vh;
  /* background: url(../images/downbanner.png); */
  background-size: 100% 100%;
}


.btn-group 
{
    margin-top:20px;
}
.ghsdfg {
  text-align: center;
  width: 50%;
  margin: auto;
}
.ghsdfg h2 {
  padding-top: 85px;
  color: white !important;
  font-size: 35px !important;
}
.ghsdfg p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.ghsdfg button {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 25px;
  color: white;
}

.dsfghdfsdf {
  padding: 40px 0;
  width: 100%;
}

.fgjdfgdfg {
  width: 150px;
  height: 150px;
  text-align: center;
  margin: auto;
  border-radius: 75px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.fgjdfgdfg img {
  width: 100%;
  height: 100%;
  border-radius: 75px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 8px solid rgb(251, 242, 242);
}

.ghfgf {
  text-align: center;
  margin: auto;
  background-color: #143664;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-top: -20px;
  position: relative;
}
.ghfgf h6 {
  color: #fff;
  padding-top: 10px;
  font-weight: 600;
}

.ghjgdfg {
  text-align: center;
}
.ghjgdfg h6 {
  color: #143664;
  font-size: 20px;
  font-weight: 600;
}
.ghjgdfg p {
  font-size: 17px;
  color: #40444E;
}

.fdghdfgdfgdfg {
  margin-bottom: 30px;
}

.gjhfgfgdfg {
  width: 100%;
  padding: 40px 0;
}

.gdfjkghdgsd {
  width: 100%;
  background-color: #143664;
  /* height: 450px; */
  padding: 25px;
  border-radius: 4px;
}

.jhgdf {
  width: 100%;
  height: 2px;
  background-color: #40444E;
}

.gdfjkghdgsd h5 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.gdfjkghdgsd p {
  color: white !important;
  font-size: 16px !important;
  width: 80%!important;
}

.gdfhgdfg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #C35F16;
  text-align: center;
  line-height: 55px;
}
.gdfhgdfg i {
  text-align: center;
  color: white;
  padding-top:17px;
}

.ggdfgdfg {
  margin-left: -20px !important;
}
.ggdfgdfg h6 {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.ggdfgdfg p {
  color: #fff !important;
  font-size: 12px !important;
  width: 80% !important;
  line-height:20px !important;
}

.drfghdfgfr {
  margin-top: 15px;
}

.dfjbfg .form-control {
  padding: 10px;
}

.dfjbfg {
  margin-bottom: 25px;
}

.dfjbfg button {
  padding: 14px 45px;
  background-color: #2D4A8A;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
}

.dfjhdfbgdfgdfg h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 0;
}

/* main
{
    padding-top:120px !important;
} */